{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="content-about">
  <h1>Afternoon tea with Boyd</h1>
  <img class="about-me-picture" src="{% static 'images/bright-guy-40.JPG' %}"></img>
  <div class="center-text">
    <p><span class="first-letter">H</span>ello! You've somehow made your way to my humble website made in Django!</p>
    <p>To introduce myself in a few words: I am a breakdancing English teacher currently trying to perfect the New York style pizza and a developer in my off time. I also used to be addicted to learning languages with the dream of becoming a polyglot, but that has been on the back-burner for a little while as I grow my web developer skillset.</p>
    <p>I am currently an English teacher under the JET program in the distant coastal town of Himi in Toyama prefecture. Some people may ask why I am out here in this little sea shore town. Really the coastal view is quite beautiful with the beach just minutes away on foot. Life is about experiences and this is one that I probably won't forget. Overall its working great, I wish Japanese homes has better insulation however as I don't enjoy my fingers feeling like popsicles all day.</p>
    <p>Anyways thanks for reading this far and I hope you check back in as I plan to fill this blog with more going-ons and thoughts about life and such.</p>
    <p>Toodle-loo,</p>
    <p>Boyd</p>
  </div>
</div>

{% endblock %}
