{% load staticfiles %}

<html>
<head>
  <title>BOYD BLOG</title>
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">!-->
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
</head>

<body>
  {% include 'blog/header.html' %}

{% block content %}
	<div class="content">

    <div class="column-left">
      {% block column-left %}
        {% for post in posts %}
          <ul><a class="post-link" href="/post/{{ post.pk }}">{{ post.title }}</a></ul>
        {% endfor %}
      {% endblock %}
    </div>

    <div class="column-right">

      {% block column-right %}
        <div class="post">
          <div class="post-cycle">
            <a href="#" class="nav-arrow previous round">&#8249;</a>
            <a href="#" class="nav-arrow next round">&#8250;</a>
          </div>

            {% with posts|first as first_post %}
              <h1>{{ first_post.title }}</h1>
              {% if first_post.published_date %}
                <div class="date">
                  {{ first_post.published_date }}
                </div>
              {% endif %}
              <p>{{ first_post.text|linebreaksbr }}</p>
            {% endwith %}
          {% endblock %}
        </div>
      {% endblock %}

    </div>
	</div>

  {% include 'blog/footer.html' %}
  <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
