{% load staticfiles %}

<div class="page-header">
  <div class="page-header-position">
    <div class="site-title">
      <h1><a href="/">BOYD</a><span class="site-title-section">blogs</span></h1>
    </div>
    <!-- <div class="logo">
      <img class="profile-image" src="{% static 'images/face-portrait.JPG' %}">
    </div>
    {% if user.is_authenticated %}
      <a href="{% url 'post_new' %}" class="top-menu">
        <span style="background-image: url("/blog/static/images/Flat_plus_icon.svg")"</a>
    {% endif %} -->
    <nav class="site-nav">
      <!-- <ul id="zero-margin-ul"> -->
      <ul>
        <li><a href="/"><strong>BLOG</strong></a></li>
        <li><a href="/"><strong>ABOUT ME</strong></a></li>
        <li><a class="github-mark" href="https://github.com/bching"><img height="32" width="32" src="{% static 'images/GitHub-Mark-Light-32px.png' %}"></img></a></li>
        <li><a href="/"><strong>CONTACT ME</strong></a></li>
      </ul>
    </nav>
  </div>
</div>
