{% load staticfiles %}

{% include "contact/templates/email.html" %}

<div class="page-header">
  <div class="page-header-position">
    <div class="site-title">
      <h1><a href="/">BOYD</a><span class="site-title-section">blogs</span></h1>
    </div>
    <nav class="site-nav">
      <div class="nav-items">
        <ul>
          <li><a href="/"><strong>BLOG</strong></a></li>
          <li><a href="/about"><strong>ABOUT ME</strong></a></li>
          <li><a class="github-mark" href="https://github.com/bching"><img height="32" width="32" src="{% static 'images/GitHub-Mark-Light-32px.png' %}"></img></a></li>
          <li><a href="" id="contact-button" class="contact"><strong>CONTACT ME</strong></a></li>
        </ul>
      </div>
    </nav>
    <div class="mobile-nav-button">
      <a href="" id="mobile-nav-button">&#9776;</a>
    </div>
    <!-- <nav class="mobile-site-nav">
      <div class="nav-items">
        <ul>
          <li><a href="/"><strong>BLOG</strong></a></li>
          <li><a href="/about"><strong>ABOUT ME</strong></a></li>
          <li><a class="github-mark" href="https://github.com/bching"><strong>GITHUB PAGE</strong></a></li>
          <li><a href="/"><strong>CONTACT ME</strong></a></li>
        </ul>
      </div>
    </nav> -->
  </div>
  <nav class="mobile-site-nav">
    <div class="nav-items">
      <ul>
        <li><a href="/"><strong>BLOG</strong></a></li>
        <li><a href="/about"><strong>ABOUT ME</strong></a></li>
        <li><a class="github-mark" href="https://github.com/bching"><strong>GITHUB PAGE</strong></a></li>
        <!-- <li><a id="contact" href="javascript:void(0);"><strong>CONTACT ME</strong></a></li> -->
      </ul>
    </div>
  </nav>
</div>
