{% extends 'blog/base.html' %}

{% block column-left %}
  {% for post in posts %}
    <ul><a class="post-link" href="/post/{{ post.pk }}">{{ post.title }}</a></ul>
  {% endfor %}
{% endblock %}

{% block column-right %}
<div class="post">
  {% block post-cycle %}
    <div class="post-cycle">
      {% if post != posts.first %}
        <a href="/post/{{ prev_post.0.pk }}" class="nav-arrow previous round">&#8249;</a>
      {% endif %}
      {% if post != posts.last %}
        <a href="/post/{{ next_post.0.pk }}" class="nav-arrow next round">&#8250;</a>
      {% endif %}
    </div>
  {% endblock %}

  <h1>{{ post.title }}</h1>
  {% if post.published_date %}
    <div class="date">
      {{ post.published_date }}
    </div>
  {% endif %}
  <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endblock %}
