/* 
 * TODO: categorize rule sets
 */

html {
  padding: 0px;
  margin: 0px;
}

/*
 * Site header 
 */
.page-header {
  /*padding: 20px 20px 20px 40px;*/
  padding: 0;
}

.page-header-position {
  background: url("/blog/static/images/Free_Sky_1.jpg")
    no-repeat center center;
  height: 300px;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 150px;
  width: 150px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
.profile-image {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  -webkit-filter: brightness(100%);
  transition: all 0.2s ease;
}
.profile-image:hover {
  -webkit-filter: brightness(70%);
  transition: all 0.2s ease;
}

.site-title h1, .site-title h1 a, .site-title h1 a:visited
.site-title h1 a:active {
  display: flex;
  align-items: center;
  background-color: #787878;
  margin: 10px 20px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

/*
.nav-list ul {
  list-style-type: none;
  display: inline;
}
.nav-list ul li {
  display: inline;
  background-color: #ff9400;
  margin-left: 5px;
  padding: 5px;
  transition: border-radius 0.5s;
}
.nav-list ul li:hover {
  border-radius: 10px;
}
.nav-list ul a{
  text-decoration: none;
  color: #ffffff;
}
*/

.social-links {
  height: 30px;
  width: 30px;
}
.github-mark {
  height: 120px;
  width: 120px;
}
.github-mark img {
  width: 100%;
  height: auto%;
  -webkit-filter: brightness(100%);
  transition: all 0.2s ease;
}
.github-mark img:hover {
  -webkit-filter: brightness(70%);
  transition: all 0.2s ease;
}

/* 
 * Main Content 
 */
.content {
  display: flex;
}

.column-left {
  background-color: pink;
  width: 300px;
}

.column-right {
  background-color: #F8F8F8;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
  color: #000000;
}

