#zero-margin-ul {
  margin-left: -40px;
}

html, body, p {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
}

textarea {
  resize: none;
}

.round {
  border-radius: 50%;
}

/*
 * Site header
 */

.page-header {
  padding: 0;
  background-color: #404040;
}

.page-header-position {
  height: 80px;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.footer-content {
  align-items: center;
  background-color: #202020;
  justify-content: center;
  display: flex;
}
.footer-content h6 {
  color: white;
  padding: 5px;
}

.site-title {
  position: relative;
  display: inline-block;
}
.site-title h1, .site-title h1 a, .site-title h1 a:visited
.site-title h1 a:active {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.site-title-section {
  font-size: 24;
  position: absolute;
  color: #00CED1;
  top: 0;
  margin-top: 25px;
}

.site-nav {
  width: 100%;
}
.site-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 600px;
  margin: auto;
}
.site-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  list-style-type: none;
  margin: 5px;
}

.site-nav a {
  display: block;
  color: white;
  -webkit-filter: brightness(100%);
  transition: all 0.2s ease;
}
.site-nav a:hover {
  -webkit-filter: brightness(70%);
  transition: all 0.2s ease;
}

/*
 * Main Content
 */

.content {
  display: flex;
  align-items: flex-start;
  /* height: 80vh; */
}

.column-left {
  width: 300px;
  height: 100%;
}

.column-right {
  background-color: #F8F8F8;
  width: 100%;
  /* height: 100%; */
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.post-cycle {
  display: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin: 0px 40px 70px 40px;
}

.post h1 a, .post h1 a:visited {
  color: #000000;
}

/*
 * About Page
 */
 .content-about {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .about-me-picture {
   border-radius: 50%;
   max-width:100%;
   height:auto;
 }

.center-text {
  display: block;
  margin: 0px 30px;
  width: 700px;
}
.center-text p {
  margin-bottom: 10px;
}

.first-letter {
  font-weight: bolder;
  font-size: 200%;
  padding-right: 2px;
}

/*
 * Contact Form
 */
.contact-modal-toggle {
  /* display: block; */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.contact-modal-content {
  display: none;
  position: fixed;
  width: 400px;
  height: 500px;
  background: #fff;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -250px;
}

.contact-modal-toggle .contact-modal-content {
  display: block;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
}
/*
 * Mobile
 */

.mobile-nav-button {
  display: none;
}
.mobile-nav-button a {
  color: #fff;
}

.mobile-site-nav .nav-items {
  display: none;
}

@media screen and (max-width: 820px) {
  .site-nav .nav-items {
    display: none;
  }

  .mobile-nav-button {
    float: right;
    display: block;
    padding: 25px;
    font-size: 35px;
    text: #fff;
  }

  .mobile-site-nav .nav-items-toggle {
    /* display: inline-block; */
    /* position: relative; */
    width: 100%;
    /* right: 0; */
    /* top: 0; */
  }
  .mobile-site-nav .nav-items-toggle ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
  }
  .mobile-site-nav .nav-items-toggle ul li {
    padding: 12px 0;
    text: #fff;
    border: 1px;
    border-style: solid;
    border-color: black;
  }

  .center-text {
    width: auto;
  }
}

@media screen and (max-width: 667px) {
  .column-left {
    display: none;
  }

  .post-cycle {
    float: right;
    display: block;
    right: 10px;
    /* margin-right: 10px; */
  }
  .nav-arrow {
    color: #fff;
    background-color: #404040;
    padding: 8px 16px;
  }

}
